/* COMON */

.inner {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    display: inline-block;
}

.btn {
    background-color: #4b79ee;
    border-radius: 8px;
    padding: 10px 22px;
    color: #fff;
}

/* HEAD */

@media (min-width:1025px){

    #head_layout {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        border-bottom: 1px solid #eee;
        /* background-color: aqua; */
    }

    #head_layout .inner {
        height: 100px;
        /* background-color: #325632; */

    }

    #head_layout .inner .logo {
        padding: 10px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: fit-content;
    }

    #head_layout .inner .mobile-menu {
        display: none;
    }


    /* UTIL MENU */
    #head_layout .inner .util-menu {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: center;
        /*부모의 영역만큼 가운데 정렬*/
    }

    #head_layout .inner .util-menu a {
        height: fit-content;
        color: #252830;

    }

    #head_layout .inner .util-menu > a{
        padding: 10px 5px;
        color: #252830;
    }

    #head_layout .inner .util-menu a .btn {
        padding:10px 5px;
        color: #fff;
    }

    #head_layout .inner .util-menu a span {
        padding: 5px;
    }

    /* MAIN MENU */
    #head_layout .inner .main-menu {
        display: flex;
        justify-content: center;
        /* 부모의 기준으로 가운데  / 수평 가운데*/
        /* align-items: center; 부모의 기준으로 가운데 / 수직 가운데 */
        align-items: flex-start;
        /*위레서 부터 정렬 해 줘*/

    }

    #head_layout .inner .main-menu>li {
        /* background-color:aquamarine; */
        cursor: pointer;
    }

    #head_layout .inner .main-menu>li:hover .main-menu-name {
        color: #4b79ee;
    }

    #head_layout .inner .main-menu .sub-menu {}

    #head_layout .inner .main-menu-name {
        font-size: 20px;
        font-weight: 700;
        /* background-color: salmon; */
        height: 100px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        color: #252830;
        ;
    }

    #head_layout .inner .main-menu .sub-menu {
        padding-top: 30px;
        display: none;
        position: relative;
        /*기준잡기용*/
        /*z-index를 사용하기위헤*/
        z-index: 9;
    }

    #head_layout .inner .main-menu .sub-menu li {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 700;
    }

    #head_layout .inner .main-menu .sub-menu a {
        padding: 12px 20px;
        color: #667284;

    }

    #head_layout .inner .main-menu .sub-menu a:hover {
        color: #4b79ee;
    }

    #head_layout .inner .main-menu:hover .sub-menu,
    #head_layout .inner .main-menu.on .sub-menu {
        display: block;
    }

    #head_layout .inner .menu-bg {
        background-color: #fff;
        position: fixed;
        top: 101px;
        left: 0;
        right: 0;
        z-index: 8;
        height: 0;
        overflow: hidden;
        box-shadow: 0px 2px 2px 0px #8080804f;
    }

    /* HOVER */
    #head_layout .inner .menu-bg.on {
        height: 400px;
        /* background-color: navy; */
    }

    #head_layout .inner .menu-bg .mypage-box {
        position: absolute;
        right: 0;
        top: 30px;
        right: 60px;
        z-index: 7;
        border-left: 2px solid #a9a9a9;
        padding-left: 50px;
    }

    #head_layout .inner .menu-bg .mypage-box .mypage-title {
        font-size: 20px;
        font-weight: bold;
    }

    #head_layout .inner .menu-bg .mypage-box .mypage li>a {
        padding: 12px 20px 12px 0;
        font-weight: 700;
        color: #667284;
    }

    #head_layout .inner .menu-bg .menu-text {
        position: absolute;
        top: 30px;
        left: 0;
        font-size: 25px;
        font-weight: 700;
        line-height: 1.5em;
    }

    #head_layout .inner .menu-bg .menu-text em {
        color: #4b79ee;
    }

    #head_layout .inner .menu-bg .mypage-box .mypage a:hover {
        color: #4b79ee;
    }
    #head_layout .inner .mobile-box a{
        display: none;
    }
}

@media (min-width:1025px) and (max-width:1300px){
    #head_layout .inner{
        width: 98%;
        margin: 0 auto;
    }

    #head_layout .inner .menu-bg .menu-text{
        font-size: 20px;
    }
    #head_layout .inner .menu-bg .mypage-box {
        right: 0;
        padding-left: 20px;
    }
    #head_layout .inner .mobile-box a{
        display: none;
    }



}
/* MOBILE */
@media(max-width:1024px){
    #head_layout .inner .mobile-box {
        padding-top: 6vw; /* 뷰포트 너비에 따라 조정 */
    }
    #head_layout .inner .mobile-box .close{
        padding-top: 6vw;
    }

    #head_layout{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }
    #head_layout .inner{
        height: 70px;
        /* background-color: #4b79ee; */
    }
    #head_layout .inner .logo{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content; /*자식의 요소의 크기만큼*/
        height: fit-content; /*자식의 요소의 크기만큼*/
    }

    #head_layout .inner .util-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        margin-right: 20px;
    }

    #head_layout .inner .util-menu > a{
        padding: 15px 5px;
        color: #252830;
    }

    #head_layout .inner .util-menu .search ,
    #head_layout .inner .util-menu .btn {
        display: none;
    }

    #head_layout .inner .mobile-menu {
        position: absolute;
        padding: 15px 5px;
        top: 0;
        bottom: 0;
        left: 0;;
        transform: translateY(15%);
        margin-left: 20px;
        height: fit-content; /*자식의 요소의 크기만큼*/
        color: #252830;
    }
    #head_layout .inner .mobile-box {
        background-color: #242f78;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 11;
        overflow-y: scroll;
        padding-top: 7vw;/*9vw*/
        transform: translateX(-100%);
        transition: transform 0.4s ;
    }
    #head_layout .inner .mobile-box.show{
        transform: translateX(0);
    }

    #head_layout .inner .mobile-box .main-menu-name,
    #head_layout .inner .mobile-box .mypage-title,
    #head_layout .inner .mobile-box .login{
        background-color: #34429c;
        color: #fff;
        padding: 2vw 3vw; /*rem도 가능;*/
        font-size: 3vw;
        font-weight: 700;
        display: block;

    }

    #head_layout .inner .mobile-box .sub-menu li a,
    #head_layout .inner .mobile-box .mypage li a{
        background-color: #242f78;
        color: #f5f5f5;
        padding: 3.5vw 7vw;
        font-size: 2.5vw;
        display: block;
    }

    #head_layout .inner .mobile-box .mobile-btn{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: fit-content;
    }

    #head_layout .inner .mobile-box .close{
        position: absolute;
        top: 5px;
        right: 20px;
        padding: 12px;
        color: #fff;
    }

}

/*tablet*/
@media(min-width:769px) and (max-width:1025px){
    #head_layout .inner .mobile-box{
        padding-top: 5vw
    }
    
    #head_layout .inner .mobile-box .main-menu-name,
    #head_layout .inner .mobile-box .mypage-title,
    #head_layout .inner .mobile-box .login{   
        font-size: 18px;
        padding: 20px 40px;
    }
    #head_layout .inner .mobile-box .sub-menu li a,
    #head_layout .inner .mobile-box .mypage li a{
        font-size: 16px;
        padding: 20px 55px;
    }

}

/* samsung note and iphone max*/
@media(max-width:480px){
    #head_layout .inner .mobile-box{
        padding-top: 14vw;
    }
    #head_layout .inner .mobile-box .close{
        padding-top: 5vw;
    }
    #head_layout .inner .mobile-box .main-menu-name,
    #head_layout .inner .mobile-box .mypage-title,
    #head_layout .inner .mobile-box .login{
        padding: 4.5vw 4vw;
        font-size: 5vw;
    }
    #head_layout .inner .mobile-box .sub-menu li a,
    #head_layout .inner .mobile-box .mypage li a{
        padding: 4.5vw 7vw;
        font-size: 5vw;
    }
}


